<!DOCTYPE html>
<style type="text/css">
    {% include "styles.css" %}
</style>

{% block body %}
    <header>
        {% include "header.html" %}
    </header>
    <div class="container align-center text-center" style="padding-top: 15px">
        <h1 class="font-monospace">404 Not Found</h1>
        <p>Unfortunately, the asset you are looking for was not found.</p>
    </div>
    <footer>
        {% include "footer.html" %}
    </footer>
{% endblock %}