<!DOCTYPE html>
<style type="text/css">
    {% include "styles.css" %}
</style>
{% block head %}
    <link rel="icon" href="{{ server.icon_url }}">
{% endblock %}
{% block body %}
    <header>
        {% include "header.html" %}
    </header>
    <div class="container align-center text-center" style="padding-top: 32px;">
        <h1 class="font-monospace">{{ server.name }}</p1>
        <h3>{{ server.about }}</p1>
    </div>
    <footer>
        {% include "footer.html" %}
    </footer>
{% endblock %}