body, html {
    background-color: #171e26;
    margin: 0;
    margin-top: 0;
}

a, p, h1, h2, h3, h4, h5, h6 {
    color: white
}

a {
    text-decoration: none;
}


h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

small {
    font-size: small;
}

.text-center {
    text-align: center;
}

.align-center {
    margin: auto;
}

.color-panel-1 {
    background-color: #242d38;
}

.color-recessed {
    background-color: #10161d;
}

.m-0 {
    margin: 0;
}

.w-full {
    width: 100%;
}

.container {
    padding: 10px;
    border-radius: 10px;
}

.font-monospace {
    font-family: 'Courier New', Courier, monospace;
}

.bottom-line {
    border-bottom: 1px solid turquoise;
}

.padded-md {
    padding: 15px;
}

.inline {
    display: inline;
}