<!DOCTYPE html>
<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ server.icon_url }}">
    <title>Error loading page</title>
    
    <meta name="description" content="{{ server.about }}">
    <meta property="og:type" content="website">
    <meta name="og:site_name" content="{{ server.name }}">
    <meta property="og:title" content="{{ server.name }}">
    <meta property="og:description" content="{{ server.about }}">
    <meta property="og:image" content="{{ server.icon_url }}">
    <meta property="og:url" content="{{ server.url }}">
    <meta content="#40e0d0" data-react-helmet="true" name="theme-color" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ server.name }}">
    <meta name="twitter:image" content="{{ server.icon_url }}">
    <meta name="twitter:description" content="">
{% endblock %}
<style type="text/css">
    {% include "styles.css" %}
</style>
{% block body %}
    <header>
        {% include "header.html" %}
    </header>
    <div class="container align-center text-center" style="padding-top: 15px">
        <h1 class="font-monospace"><span class="bold">{{ error.code }}</span> {{ error.message }}</h1>
        <p>{{ error.about }}</p>
    </div>
    <footer>
        {% include "footer.html" %}
    </footer>
{% endblock %}
</html>