<!DOCTYPE html>
<style type="text/css">
    {% include "styles.css" %}
</style>

{% block body %}
    <header>
        {% include "header.html" %}
    </header>
    <div class="container align-center text-center" style="padding-top: 15px">
        <h1 class="font-monospace"><span class="bold">{{ error.code }}</span> {{ error.message }}</h1>
        <p>{{ error.about }}</p>
    </div>
    <footer>
        {% include "footer.html" %}
    </footer>
{% endblock %}