<!DOCTYPE html>
<html lang="en">

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ server.icon_url }}">
    <title>{{ server.name }}</title>
    
    <meta name="description" content="{{ server.about }}">
    <meta property="og:type" content="website">
    <meta name="og:site_name" content="{{ server.name }}">
    <meta property="og:title" content="{{ server.name }}">
    <meta property="og:description" content="{{ server.about }}">
    <meta property="og:image" content="{{ server.icon_url }}">
    <meta property="og:url" content="{{ server.url }}">
    <meta content="#40e0d0" data-react-helmet="true" name="theme-color" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ server.name }}">
    <meta name="twitter:image" content="{{ server.icon_url }}">
    <meta name="twitter:description" content="">
{% endblock %}
<style type="text/css">
    {% include "styles.css" %}
</style>
{% block body %}
    <header>
        {% include "header.html" %}
    </header>
    <div class="container align-center text-center" style="padding-top: 32px;">
        <h1 class="font-monospace bold">{{ server.name }}</h1>
        <p>{{ server.about }}</p>
    </div>
    <div class="w-full justify-center flex">
            <div class="container color-panel-1 box-shadow float-left inline text-center" style="width: 300px; margin: 30px; height: 250px">
            <h2 class="font-monospace italic bold">How to Start</h2>
            <p>Simply create a <span class="font-monospace bold">{{ server.default_branch }}</span> branch on your repository - It's that easy!</p>
            <p>If enabled, you're also able to host through other branches as well.</p>
        </div>
        <div class="container color-panel-1 box-shadow float-left text-center" style="width: 300px; margin: 30px; height: 250px">
            <h2 class="font-monospace italic bold">Made in Rust</h2>
            <p>Pageshelf, which runs {{ server.name }}, is implemented in Rust.
            <p>This enables speed without compromising on security.</p>
        </div>
        <div class="container color-panel-1 box-shadow float-left inline text-center" style="width: 300px; margin: 30px; height: 250px">
            <h2 class="font-monospace italic bold">Open Source and Customizable</h2>
            <p>Pageshelf, which runs {{ server.name }}, under the terms of the MIT License and built with free libraries.</p>
            <p>You are also able to customize various parts of Pageshelf.</p>
        </div>
    </div>
    <footer>
        {% include "footer.html" %}
    </footer>
{% endblock %}
</html>