body, html {
    background-color: #171e26;
    margin: 0;
    margin-top: 0;
}

a, p, h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}


h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

small {
    font-size: small;
}

.text-center {
    text-align: center;
}

.align-center {
    margin: auto;
}

.color-panel-1 {
    background-color: #242d38;
}

.color-recessed {
    background-color: #10161d;
}

.m-0 {
    margin: 0;
}

.w-full {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.container {
    padding: 10px;
    border-radius: 10px;
}

.box-shadow {
    box-shadow: 6px 6px rgba(0, 0, 0, 0.2);
}

.font-monospace {
    font-family: 'Courier New', Courier, monospace;
}


.top-line {
    border-top: 1px solid #40e0d0;
}

.bottom-line {
    border-bottom: 1px solid turquoise;
}

.padded-sm {
    padding: 5px;
}

.padded-md {
    padding: 15px;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.table {
    display: table;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.float-left {
    float: left;
}