{% block footer %}
<footer class="panel footer">
	<div class="footer-flex">
		<img src="/_jinja_static/pageshelf_logo.webp" width="40" height="40" alt="Pageshelf Logo">
		<div class="footer-text">
			<span class="font-monospace"><span class="bolder">Pageshelf</span> v{{ server.version }}</span>
			<a href="https://github.com/mrrpnya/pageshelf" class="footer-link">Source (GitHub)</a>
		</div>
	</div>
</footer>
{% endblock %}
